.basic-content
{
    max-width: 960px;
    margin: 0 auto;   
}

body{
    margin: 0%;
    padding: 0%;
}

/* HeaderBody_____________________________________________________*/
header{
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom: 1px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    overflow: auto;
    font-size: 0px;
}

header a {
    padding: 0 15px;
    font-size: 16px;
    color: #777777;
}

.header-1 {
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -0px;
}

.right-align {
    float: right;
    padding: 36px 0;
}

.center-text {
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
}

.right-text {
    padding-right: 0;
    padding-left: 15px;
}

a:visited { 
    color: #777777;
}

a:hover {
    color: #4aaaa5;
}

main{
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/symphony.png);
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/symphony.png);
    padding-top: 40px;
    padding-bottom: 110px;
    overflow: auto;

}

/* AboutMe_______________________________________________________*/

.about {
    font-size: 28px;
    font-weight: bold;
    color: #4aaaa5;
    border-bottom: 3px solid #e1e1e1;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.myimage {
    float: left;
    height: auto;
    max-width: 25%; 
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.main-content {
    background-color: white;
    border: 1px solid #cccccc;
    overflow: auto;
    padding-bottom: 25px;
}

.p1 {
    font-size: 20px;
    color: #777777;
    line-height: 35px;
    margin-left: 30px;
    margin-right: 30px;
}

.p2 {
    font-size: 20px;
    color: #777777;
    line-height: 35px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}


/* Footer_____________________________________________________________*/
footer {
    text-align: center;
    background-color: #666666;
    padding-top: 35px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #b0acb0;
    border-top: 8px solid #4aaaa5;
}

maincontent{
    background-color: white;
    border: 1px solid #cccccc;
    overflow: auto;
    padding-bottom: 40px; 
}

/* Portfolio_____________________________________________*/
.content-portfolio {
    background-color: white;
    border: 1px solid #cccccc;
    overflow: auto;
    padding-bottom: 10px;
}

.portfolio {
    font-size: 28px;
    font-weight: bold;
    color: #4aaaa5;
    border-bottom: 3px solid #e1e1e1;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-port {
    height: 100%; 
    width: 100%; 
    display: block;
}

.row {
    margin-right: 30px;
    margin-left: 30px;
}

.col-1 {
    width: 33.3%;
    height: 200px;
    float: left;
    margin-bottom: 55px;
    padding-right: 25px;
}

.col-2 {
    width: 33.3%;
    height: 200px;
    float: left;
    margin-bottom: 60px;
}

.mid {
    margin-left: 40px;
    margin-right: 40px;
}

span {
    position: relative;
    height: 60px;
    top: -70px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: #4aaaa5;
    display: block;
}


/* Contact___________________________________________________*/

input[type=submit] {
    height: 50px;
    width: 125px;
    font-size: 16px;
    background-color:  #4aaaa5;
    color: white;
    padding: 12px 20px 30px 20px;
    cursor: pointer;
    
}

input[type=submit]:hover {
    background-color: #357b77;
}

.contact {
    font-size: 28px;
    font-weight: bold;
    color: #4aaaa5;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #e1e1e1;
}

.input {
    width: 99%;
    height: 36px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #e1e1e1;
}

.input:focus {
    outline-color: #d4eceb;
}

.content-form {
    font-size: 20px;
    color: #777777;
    margin-left: 30px;
    margin-right: 30px;
}

.message {
    height: 200px; 
}

.center-text {
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
}

.right-text {
    padding-right: 0;
    padding-left: 15px;
}

